<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Chapter 1</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit&family=Playpen+Sans:wght@500&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/29 Bhagavad Gita Site/views/home.css">
</head>

<body>
    <div class="container">
        <!-- Navbar -->
        <div class="nav">
            <h1>Bhagavad Gita</h1>
        </div>

        <!-- Chapter Details -->
        <div class="chapter_details">
            <h4>Chapter 1</h4>
            <h1>Arjuna Visada Yoga</h1>
            <p>The first chapter of the Bhagavad Gita - "Arjuna Vishada Yoga" introduces the setup, the setting, the characters and the 
                circumstances that led to the epic battle of Mahabharata, fought between the Pandavas and the Kauravas. It outlines the 
                reasons that led to the revelation of the of Bhagavad Gita. As both armies stand ready for the battle, the mighty warrior 
                Arjuna, on observing the warriors on both sides becomes increasingly sad and depressed due to the fear of losing his 
                relatives and friends and the consequent sins attributed to killing his own relatives. So, he surrenders to Lord Krishna, 
                seeking a solution. Thus, follows the wisdom of the Bhagavad Gita.
            </p>
        </div>

        <br><br>
        <hr>

        <!-- Chapter's Verse List -->
        <div class="verses">
            <h2>47 Verses</h2>
            <div class="versesList">
                <div class="verse">
                    <h4>Verse 1</h4>
                    <p>Dhritarashtra said, "What did my people and the sons of Pandu do when they had assembled together, 
                        eager for battle, on the holy plain of Kurukshetra, O Sanjaya?"
                    </p>
                </div>
                <div class="verse">
                    <h4>Verse 1</h4>
                    <p>Dhritarashtra said, "What did my people and the sons of Pandu do when they had assembled together, 
                        eager for battle, on the holy plain of Kurukshetra, O Sanjaya?"
                    </p>
                </div>
                <div class="verse">
                    <h4>Verse 1</h4>
                    <p>Dhritarashtra said, "What did my people and the sons of Pandu do when they had assembled together, 
                        eager for battle, on the holy plain of Kurukshetra, O Sanjaya?"
                    </p>
                </div>
                <div class="verse">
                    <h4>Verse 1</h4>
                    <p>Dhritarashtra said, "What did my people and the sons of Pandu do when they had assembled together, 
                        eager for battle, on the holy plain of Kurukshetra, O Sanjaya?"
                    </p>
                </div>
                <div class="verse">
                    <h4>Verse 1</h4>
                    <p>Dhritarashtra said, "What did my people and the sons of Pandu do when they had assembled together, 
                        eager for battle, on the holy plain of Kurukshetra, O Sanjaya?"
                    </p>
                </div>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <div class="footer">
            <p>
                 CREATED BY 
                <a target="_blank" rel="noopener noreferrer" href="https://priyanshsingh.netlify.app/">SINGH PRIYANSH</a>
            </p>
        </div>

    </div>
</body>

</html>