<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home Page</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit&family=Playpen+Sans:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/29 Bhagavad Gita Site/views/home.css">
</head>

<body>
    <div class="container">
        <!-- Navbar -->
        <div class="nav">
            <h1>Bhagavad Gita</h1>
        </div>

        <!-- Header -->
        <div class="header">
            <h1>
                Experience the Gita
                <br>
                <span>Anywhere, Anytime</span>
            </h1>
            <button>Read Now</button>
        </div>

        <br>
        <hr id="chapters"/>
        

        <!-- Chapters -->
        <div class="chapters">
            <h2>Chapters</h2>

            <div class="chaptersGrid">
                <div class="chaptersDescription">
                    <h4>Chapter 1</h4>
                    <h3>Arjun Visada Yog</h3>
                    <p>The first chapter of the Bhagavad Gita - "Arjuna Vishada Yoga" introduces the
                        setup, the setting, the characters and the circumstances that led to the epic
                        battle of Mahabharata, fought between the Pandavas and the Kauravas. It
                        outlines the reasons that led to the revelation o..</p>
                    <h5>47 verses</h5>
                </div>

                <div class="chaptersDescription">
                    <h4>Chapter 1</h4>
                    <h3>Arjun Visada Yog</h3>
                    <p>The first chapter of the Bhagavad Gita - "Arjuna Vishada Yoga" introduces the
                        setup, the setting, the characters and the circumstances that led to the epic
                        battle of Mahabharata, fought between the Pandavas and the Kauravas. It
                        outlines the reasons that led to the revelation o..</p>
                    <h5>47 verses</h5>
                </div>

                <div class="chaptersDescription">
                    <h4>Chapter 1</h4>
                    <h3>Arjun Visada Yog</h3>
                    <p>The first chapter of the Bhagavad Gita - "Arjuna Vishada Yoga" introduces the
                        setup, the setting, the characters and the circumstances that led to the epic
                        battle of Mahabharata, fought between the Pandavas and the Kauravas. It
                        outlines the reasons that led to the revelation o..</p>
                    <h5>47 verses</h5>
                </div>

                <div class="chaptersDescription">
                    <h4>Chapter 1</h4>
                    <h3>Arjun Visada Yog</h3>
                    <p>The first chapter of the Bhagavad Gita - "Arjuna Vishada Yoga" introduces the
                        setup, the setting, the characters and the circumstances that led to the epic
                        battle of Mahabharata, fought between the Pandavas and the Kauravas. It
                        outlines the reasons that led to the revelation o..</p>
                    <h5>47 verses</h5>
                </div>

                <div class="chaptersDescription">
                    <h4>Chapter 1</h4>
                    <h3>Arjun Visada Yog</h3>
                    <p>The first chapter of the Bhagavad Gita - "Arjuna Vishada Yoga" introduces the
                        setup, the setting, the characters and the circumstances that led to the epic
                        battle of Mahabharata, fought between the Pandavas and the Kauravas. It
                        outlines the reasons that led to the revelation o..</p>
                    <h5>47 verses</h5>
                </div>

                <div class="chaptersDescription">
                    <h4>Chapter 1</h4>
                    <h3>Arjun Visada Yog</h3>
                    <p>The first chapter of the Bhagavad Gita - "Arjuna Vishada Yoga" introduces the
                        setup, the setting, the characters and the circumstances that led to the epic
                        battle of Mahabharata, fought between the Pandavas and the Kauravas. It
                        outlines the reasons that led to the revelation o..</p>
                    <h5>47 verses</h5>
                </div>

                <div class="chaptersDescription">
                    <h4>Chapter 1</h4>
                    <h3>Arjun Visada Yog</h3>
                    <p>The first chapter of the Bhagavad Gita - "Arjuna Vishada Yoga" introduces the
                        setup, the setting, the characters and the circumstances that led to the epic
                        battle of Mahabharata, fought between the Pandavas and the Kauravas. It
                        outlines the reasons that led to the revelation o..</p>
                    <h5>47 verses</h5>
                </div>

                <div class="chaptersDescription">
                    <h4>Chapter 1</h4>
                    <h3>Arjun Visada Yog</h3>
                    <p>The first chapter of the Bhagavad Gita - "Arjuna Vishada Yoga" introduces the
                        setup, the setting, the characters and the circumstances that led to the epic
                        battle of Mahabharata, fought between the Pandavas and the Kauravas. It
                        outlines the reasons that led to the revelation o..</p>
                    <h5>47 verses</h5>
                </div>

                <div class="chaptersDescription">
                    <h4>Chapter 1</h4>
                    <h3>Arjun Visada Yog</h3>
                    <p>The first chapter of the Bhagavad Gita - "Arjuna Vishada Yoga" introduces the
                        setup, the setting, the characters and the circumstances that led to the epic
                        battle of Mahabharata, fought between the Pandavas and the Kauravas. It
                        outlines the reasons that led to the revelation o..</p>
                    <h5>47 verses</h5>
                </div>

                <div class="chaptersDescription">
                    <h4>Chapter 1</h4>
                    <h3>Arjun Visada Yog</h3>
                    <p>The first chapter of the Bhagavad Gita - "Arjuna Vishada Yoga" introduces the
                        setup, the setting, the characters and the circumstances that led to the epic
                        battle of Mahabharata, fought between the Pandavas and the Kauravas. It
                        outlines the reasons that led to the revelation o..</p>
                    <h5>47 verses</h5>
                </div>

                <div class="chaptersDescription">
                    <h4>Chapter 1</h4>
                    <h3>Arjun Visada Yog</h3>
                    <p>The first chapter of the Bhagavad Gita - "Arjuna Vishada Yoga" introduces the
                        setup, the setting, the characters and the circumstances that led to the epic
                        battle of Mahabharata, fought between the Pandavas and the Kauravas. It
                        outlines the reasons that led to the revelation o..</p>
                    <h5>47 verses</h5>
                </div>

                <div class="chaptersDescription">
                    <h4>Chapter 1</h4>
                    <h3>Arjun Visada Yog</h3>
                    <p>The first chapter of the Bhagavad Gita - "Arjuna Vishada Yoga" introduces the
                        setup, the setting, the characters and the circumstances that led to the epic
                        battle of Mahabharata, fought between the Pandavas and the Kauravas. It
                        outlines the reasons that led to the revelation o..</p>
                    <h5>47 verses</h5>
                </div>

                <div class="chaptersDescription">
                    <h4>Chapter 1</h4>
                    <h3>Arjun Visada Yog</h3>
                    <p>The first chapter of the Bhagavad Gita - "Arjuna Vishada Yoga" introduces the
                        setup, the setting, the characters and the circumstances that led to the epic
                        battle of Mahabharata, fought between the Pandavas and the Kauravas. It
                        outlines the reasons that led to the revelation o..</p>
                    <h5>47 verses</h5>
                </div>

                <div class="chaptersDescription">
                    <h4>Chapter 1</h4>
                    <h3>Arjun Visada Yog</h3>
                    <p>The first chapter of the Bhagavad Gita - "Arjuna Vishada Yoga" introduces the
                        setup, the setting, the characters and the circumstances that led to the epic
                        battle of Mahabharata, fought between the Pandavas and the Kauravas. It
                        outlines the reasons that led to the revelation o..</p>
                    <h5>47 verses</h5>
                </div>

                <div class="chaptersDescription">
                    <h4>Chapter 1</h4>
                    <h3>Arjun Visada Yog</h3>
                    <p>The first chapter of the Bhagavad Gita - "Arjuna Vishada Yoga" introduces the
                        setup, the setting, the characters and the circumstances that led to the epic
                        battle of Mahabharata, fought between the Pandavas and the Kauravas. It
                        outlines the reasons that led to the revelation o..</p>
                    <h5>47 verses</h5>
                </div>

                <div class="chaptersDescription">
                    <h4>Chapter 1</h4>
                    <h3>Arjun Visada Yog</h3>
                    <p>The first chapter of the Bhagavad Gita - "Arjuna Vishada Yoga" introduces the
                        setup, the setting, the characters and the circumstances that led to the epic
                        battle of Mahabharata, fought between the Pandavas and the Kauravas. It
                        outlines the reasons that led to the revelation o..</p>
                    <h5>47 verses</h5>
                </div>

                <div class="chaptersDescription">
                    <h4>Chapter 1</h4>
                    <h3>Arjun Visada Yog</h3>
                    <p>The first chapter of the Bhagavad Gita - "Arjuna Vishada Yoga" introduces the
                        setup, the setting, the characters and the circumstances that led to the epic
                        battle of Mahabharata, fought between the Pandavas and the Kauravas. It
                        outlines the reasons that led to the revelation o..</p>
                    <h5>47 verses</h5>
                </div>

                <div class="chaptersDescription">
                    <h4>Chapter 1</h4>
                    <h3>Arjun Visada Yog</h3>
                    <p>The first chapter of the Bhagavad Gita - "Arjuna Vishada Yoga" introduces the
                        setup, the setting, the characters and the circumstances that led to the epic
                        battle of Mahabharata, fought between the Pandavas and the Kauravas. It
                        outlines the reasons that led to the revelation o..</p>
                    <h5>47 verses</h5>
                </div>

            </div>
        </div>

        <hr/>

        <!-- Footer -->
        <div class="footer">
            <p>
                 CREATED BY 
                <a target="_blank" rel="noopener noreferrer" href="https://priyanshsingh.netlify.app/">SINGH PRIYANSH</a>
            </p>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(".header button").click(() => {
            window.location.href = "#chapters";
        })
    </script>
</body>

</html>