<div class="footer">
    <p>
         CREATED BY 
        <a target="_blank" rel="noopener noreferrer" href="https://priyanshsingh.netlify.app/">SINGH PRIYANSH</a>
    </p>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(".nav h1").click(()=>{
        window.location.href = "/";
    })
</script>