<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home Page</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/styles/home.css">
</head>

<body>
    <div class="container">
        <!-- Navbar -->
        <div class="nav">
            <h1>Bhagavad Gita</h1>
            <form action="/chapter" method="POST" class="navForm">
                <input type="number" min="1" max="18" name="chapterNumber" placeholder="Enter Chapter Number">
                <input type="number" min="1" max="18" name="verseNumber" placeholder="Enter Verse Number">
                <input type="submit" value="OK">
            </form>
        </div>